body {
  font-family: Arial, sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
}



.navBar {
  object-fit: cover;
  padding: 23px;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%; 
  z-index: 1000;
  margin-left: -8px;
}

.nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
  align-items: center;
  justify-content: center;
}

.nav li {
  display: inline-block;
  margin: 0 10px;
  border-right: 2px solid #f7aa05;
  padding: 0 10px;
}

.nav li:last-child {
  border: none;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: #f7aa05;
}


.profile-container {
  max-width: 600px;
  margin: 186px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 60px #f7aa05;
  text-align: center;
}

.profile-card {
  margin-top: 60px;
}

.profile-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-card h2 {
  margin: 10px 0;
  font-size: 24px;
  color: #333;
}

.profile-card p {
  font-size: 18px;
  color: #666;
}

.profile-card .edit-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f7aa05;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.profile-card .edit-btn:hover {
  color: black;
}
